<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>works_info 草々</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="../css/full/common.css" media="screen and (min-width: 1024px)">
		<link rel="stylesheet" href="../css/middle/common_middle.css" media="screen and (min-width:481px) and (max-width:1023px)">
		<link rel="stylesheet" href="../css/mobile/common_mobile.css" media="screen and (max-width:480px)">
		<link rel="stylesheet" href="../css/full/other.css" media="screen and (min-width: 1024px)">
		<link rel="stylesheet" href="../css/middle/other_middle.css" media="screen and (min-width:481px) and (max-width:1023px)">
		<link rel="stylesheet" href="../css/mobile/other_mobile.css" media="screen and (max-width:480px)">
		<link rel="shortcut icon" href="../images/contents/favicon.ico">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Sans+JP:wght@500&family=Rock+Salt&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
		<script src="../../jQuery.js"></script>
		<script src="../../slick/slick.js"></script>
		<script src="../works.js"></script>
	</head>


	<body>
		<!--(モバイル背景)-->
		<div id="main-wrapper-mobile"></div>


		<!--==[ヘッダー]==-->
		<header>
			<!--ロゴ-->
			<a href="../../index.php" id="head-logo">
				<img src="../images/title/title.png" id="head-logo-img" alt="head_logo">
			</a>
		</header>


		<!--==[メインコンテンツ]==-->
		<main>
			<!--[作品紹介]-->
			<div id="other-container">

				<!--shadow-->
				<div class="window-shadow-l"></div>
				<div class="window-shadow-r"></div>

				<div id="works-slider-outer">
					<!--サイトイメージ-->
					<ul class="works-slider">
						<li class="works-img-box">
							<a href="../../../sowsow/other/login.php">
								<img src="../images/about_works/sowsow_img1.png" alt="sowsow_img_1">
							</a>
						</li>

						<li class="works-img-box">
							<a href="../../../sowsow/other/login.php">
								<img src="../images/about_works/sowsow_img2.png" alt="sowsow_img2">
							</a>
						</li>

						<li class="works-img-box">
							<a href="../../../sowsow/other/login.php">
								<img src="../images/about_works/sowsow_img3.png" alt="sowsow_img3">
							</a>
						</li>
					</ul>

					<!--タイトル-->
					<div id="works-title-outer">
						<a href="../../../sowsow/other/login.php" id="works-title">草々 -sow sow-</a>
						<img src="../images/works/blank.png" class="blank-img" alt="blank">
					</div>

					<!--テキスト-->
					<div id="works-txt">
						簡易掲示板サイトです。
						<br>
						書き込み・検索のほかログイン認証機能を実装しました。
						<br>
						PHPを勉強し楽しみながら作成することができました。
					</div>
					<p id="use-tools">design/HTML/Jquery/PHP/MYSQL</p>
				</div>
			</div>

				<!--TOPボタン-->
				<div id="return-btn-outer">
					<button id="return-main" class="local-btn">back</button>
				</div>
			</div>
		</main>


		<!--==[フッター]==-->
		<footer>
			<p id="copy-right">&copy;Nakazawa Yuuki 2022</p>
		</footer>

	</body>
</html>
